@import 'layout';
@import 'header';
@import 'botonera';

body{
	padding-top: 50px;
}

#contacto{		
	.container{
		background-color: white;
		.btn_Enviar{
			margin-bottom: 10px;
			button{
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
}
